html {
    scroll-behavior: smooth;
    font-family: var(--font-style);
}

:root {
    --font-style: 'Atkinson Hyperlegible', sans-serif;
    --purple: #371B2F;
    --bg-color: #302951;
    --front-bg: #3F508D;
    --main-font: #E1E8F4;
    --div-color: #96ACB7;
    --nav-color: #E3EED3;
    --card-title: #BDD699;
    --text-box-bg: #F3F6F7;
    --text-box-font: #302951;
    --submit-btn: #36558F;
    --drop-menu-line: #7A9454;
    --drop-menu-div: #40376E;
}

dialog {
    z-index: 4;
    position: fixed;
    background-color: white;
}

dialog.notif-fail.inactive,
dialog.notif-success.inactive {
    display: none;
}

dialog.notif-fail.active,
dialog.notif-success.active {
    display: block;
    

}