.contact-form {
    margin-left: 1.5%;
}

.contact-form h3 {
    margin-bottom: 0.5%;
    font-size: 200%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #F4FFEF;
}

.contact-form input,
.contact-form textarea {
    margin-left: 0.5%;
    margin-bottom: 1.5%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 125%;
}

.contact-form input {
    width: 25%;
    min-width: 250px;
}

.contact-form textarea {
    width: 25%;
    min-height: 100px;
    min-width: 250px;
}

.name-input-box {
    position: relative;
}

#name-err {
    position: absolute;
    top: 70%;
}

.email-input-box {
    position: relative;
}

#email-err {
    position: absolute;
    top: 70%;
}

.text-input-box {
    position: relative;
}

#text-err {
    position: absolute;
    top: 86%;
}

.error-text {
    color: red !important;
    margin-left: 0.6%;
    font-size: 100% !important;
}

.submit-btn {
    margin-top: 10px;
    margin-left: 15px;
    height: 40px;
    width: 80px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 125%;
}