.navigation {
    z-index: 4;
}

.nav-options {
    display: flex;
    justify-content: center;
    margin: 24px 0px 17px 0px;
}

.nav-options li {
    z-index: 5;
}

.nav-options li a {
    font-size: 40px;
    text-decoration: none;
    color: var(--nav-color);
}

#about-header,
#portfolio-header,
#contact-header {
    margin-right: 63px;
}

.navigation.false {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.bg-animation-container {
    display: flex;
    justify-content: center;
}

.navigation.false .bg-animation-bar {
    background-color: var(--bg-color);
    height: 100px;
    position: fixed;
    top: 0;
    animation-name: nav-slide-false;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 4px 4px var(--box-shadow);
}

.navigation.true .bg-animation-bar {
    background-color: var(--bg-color);
    height: 100px;
    position: fixed;
    top: 0;
    animation-name: nav-slide-true;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 4px 4px var(--box-shadow);
}

.navigation.false .nav-options {
    margin: 31px 0px 17px 0px;
}

@keyframes nav-slide-false {
    from {
        width: 0;
        background-color: transparent;
    }
    
    to {
        width: 100%;
        background-color: var(--bg-color);
    }
}

@keyframes nav-slide-true {
    from {
        width: 100%;
        background-color: var(--bg-color);
    }
    
    to {
        width: 0;
        background-color: transparent;
        box-shadow: none;
    }
}