.container {
    margin-bottom: 2%;
}

.card {
    width: 20vw;
    min-width: 300px;
    height: 10vh;
    min-height: 200px;
    position: relative;
    background-color: transparent;
}
 
.back-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#card1:hover {
    animation-name: project-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card1:hover .title,
#card1:hover .description,
#card1:hover .repo-img {
    animation-name: words-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card1:hover .title:hover {
    animation-name: hover-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card1:hover .repo-img:hover {
    animation-name: img-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card2:hover {
    animation-name: project-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card2:hover .title,
#card2:hover .description,
#card2:hover .repo-img {
    animation-name: words-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card2:hover .title:hover {
    animation-name: hover-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card2:hover .repo-img:hover {
    animation-name: img-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card3:hover {
    animation-name: project-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card3:hover .title,
#card3:hover .description,
#card3:hover .repo-img {
    animation-name: words-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card3:hover .title:hover {
    animation-name: hover-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card3:hover .repo-img:hover {
    animation-name: img-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card4:hover {
    animation-name: project-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card4:hover .title,
#card4:hover .description,
#card4:hover .repo-img {
    animation-name: words-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card4:hover .title:hover {
    animation-name: hover-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card4:hover .repo-img:hover {
    animation-name: img-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card5:hover {
    animation-name: project-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card5:hover .title,
#card5:hover .description,
#card5:hover .repo-img {
    animation-name: words-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card5:hover .title:hover {
    animation-name: hover-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card5:hover .repo-img:hover {
    animation-name: img-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card6:hover {
    animation-name: project-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card6:hover .title,
#card6:hover .description,
#card6:hover .repo-img {
    animation-name: words-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card6:hover .title:hover {
    animation-name: hover-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#card6:hover .repo-img:hover {
    animation-name: img-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.repo-img {
    height: 50px;
    position: absolute;
    top: 30%;
    left: 50%;
    opacity: 0;
    box-shadow: 0 0 8px black;
    border-radius: 360%;
    filter: brightness(120%);
}

.repo-img:hover {
    animation-name: img-hover;
    animation-duration: 0.5s;
}

.repo-img-back {
    opacity: 60;
    background-color: black;
}

.title,
.description {
    position: absolute;
    text-decoration: none;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: white;
    opacity: 0;
    text-shadow: 0 0 8px black;
}

.title:hover {
    animation-name: hover-hover;
    animation-duration: 0.5s;
}

.title {
    font-size: 300%;
    top: 30%;
    left: 5%;
}

.description {
    font-size: 200%;
    top: 60%;
    left: 5%;
}

@keyframes project-hover {
    from {
        filter: brightness(125%);
        transform: scale(1);
    }
    to {
        filter: brightness(95%);
        transform: scale(0.95);
    }
}

@keyframes words-hover {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes img-hover {
    from {
        filter: brightness(95%);
        transform: scale(1);
        opacity: 100;
        box-shadow: 0 0 8px black;
    }
    to {
        filter: brightness(125%);
        transform: scale(1.05);
        opacity: 100;
        box-shadow: 0 0 16px black;
    }
}

@keyframes hover-hover {
    from {
        color: #F4FFEF;
        transform: scale(1);
        opacity: 100;
        text-shadow: 0 0 8px black;
    }
    to {
        color: #b1bdae;
        transform: scale(1.05);
        opacity: 100;
        text-shadow: 0 0 16px black;
    }
}