.resume-list {
    margin-left: 2%;
    color: #F4FFEF;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.download {
    font-size: 125%;
    margin-bottom: 1%;
}

.download a {
    color: #9DA799;
}

.front-end,
.back-end {
    font-size: 150%;
}

.front-element,
.back-element {
    margin-left: 1%;
    margin-top: 0.4%;
    font-size: 110%;
}

.list {
    margin-bottom: 1%;
}