footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

footer a {
    margin: 0 1% 1% 1%;
}

#github-back {
    border-radius: 360%;
}

footer a img {
    height: 70px;
    border-radius: 360%;
    filter: brightness(50%);
}

footer img:hover {
    animation-name: img-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes img-hover {
    from {
        filter: brightness(50%);
        transform: scale(1);}
    to {
        filter: brightness(75%);
        transform: scale(1.05);
        box-shadow: 0 0 5px #E3FFD6;
        background-color: #E3FFD6;
    }
}